{
	"extends": [
		"@typhonjs-config/eslint-config/esm/2022/browser",
		"@typhonjs-fvtt/eslint-config-foundry.js"
	],

	"rules": {
		"no-shadow": [
			"error",
			{
				"builtinGlobals": true,
				"hoist": "all",
				"allow": [
					"document",
					"event",
					"name",
					"parent",
					"status",
					"top",
					"context"
				]
			}
		],
		"brace-style": [
			"error",
			"1tbs",
			{
				"allowSingleLine": true
			}
		],
		"arrow-parens": [
			"error",
			"as-needed"
		],
		"jsdoc/newline-after-description": "off",
		"jsdoc/tag-lines": "off",
		"jsdoc/require-param-description": "off"

// Arcanist... I highly recommend requiring curly brances around conditionals and such. :O
//		"curly": [
//			"error",
//			"multi-or-nest",
//			"consistent"
//		]
	}
}